<div>
  <mat-form-field appearance="outline" style="margin-left: 40%; margin-top: 20px; margin-bottom: 10px; width: 20%">
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="search" autocomplete="off" (keyup)="filterData($event)">
    <button matSuffix mat-icon-button aria-label="Clear" id="mffID" (click)="closeEvent()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint align="start">Press enter to search</mat-hint>
  </mat-form-field>

  <table mat-table [dataSource]="filteredUpdates" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> N°</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="key" class="test">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let element"> {{element.key}} </td>
    </ng-container>

    <ng-container matColumnDef="alias">
      <th mat-header-cell *matHeaderCellDef> Alias</th>
      <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
    </ng-container>

    <ng-container matColumnDef="documentTitle">
      <th mat-header-cell *matHeaderCellDef> Document Title</th>
      <td mat-cell *matCellDef="let element"> {{element.documentTitle}} </td>
    </ng-container>

    <ng-container matColumnDef="severity">
      <th mat-header-cell *matHeaderCellDef> Severity</th>
      <td mat-cell *matCellDef="let element"> {{element.severity}} </td>
    </ng-container>

    <ng-container matColumnDef="initialReleaseDate">
      <th mat-header-cell *matHeaderCellDef> Iinitial Release Date</th>
      <td mat-cell *matCellDef="let element"> {{element.initialReleaseDate}} </td>
    </ng-container>

    <ng-container matColumnDef="currentReleaseDate">
      <th mat-header-cell *matHeaderCellDef> Current Release Date</th>
      <td mat-cell *matCellDef="let element"> {{element.currentReleaseDate}} </td>
    </ng-container>

    <ng-container matColumnDef="cvrfUrl">
      <th mat-header-cell *matHeaderCellDef> CVRF Url</th>
      <td mat-cell *matCellDef="let element"> {{element.cvrfUrl}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
